newTech/opencv/

newTech/faceDetection/*
!newTech/faceDetection/*.cpp

newTech/fingerDraw/venv/
newTech/fingerDraw/.idea/
newTech/fingerDraw/images/

newTech/Yororong/venv/
newTech/Yororong/.idea/

newTech/faceDetection2/venv/
newTech/faceDetection2/.idea/